<br />
<br />
<h2>Dashboard Administrador</h2>
<br />
<br />

    <div class="row">

        <div class="col-md-3">
            <div class="card bg-primary text-white p-3">
                <h5>Usuarios</h5>
                <h2>@ViewBag.TotalUsuarios</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary text-white p-3">
                <h5>Clientes</h5>
                <h2>@ViewBag.TotalClientes</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary text-white p-3">
                <h5>Citas</h5>
                <h2>@ViewBag.TotalCitas</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3">

        <div class="col-md-3">
            <div class="card bg-success text-white p-3">
                <h5>Servicios Activos</h5>
                <h2>@ViewBag.ServiciosActivos</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger text-white p-3">
                <h5>Servicios Inactivos</h5>
                <h2>@ViewBag.ServiciosInactivos</h2>
            </div>
        </div>

    </div>

    <div class="row mt-3">

        <div class="col-md-3">
            <div class="card bg-success text-white p-3">
                <h5>Programadas</h5>
                <h2>@ViewBag.CitasProgramadas</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-secondary text-white p-3">
                <h5>Canceladas</h5>
                <h2>@ViewBag.CitasCanceladas</h2>
            </div>
        </div>
    </div>

<br />

    <div class="mt-4">
        <h4>Top 3 Servicios</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.TopServicios)
                {
                    <tr>
                        <td>@item.Servicio</td>
                        <td>@item.Total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />