@model Proyecto_Programacion_III.Models.Entidades.Cita

<h2>Eliminar Cita</h2>

<h4>¿Seguro que deseas eliminar esta cita?</h4>

<div>
    <p><strong>Cliente:</strong> @Model.Cliente?.NombreCompleto</p>
    <p><strong>Servicio:</strong> @Model.Servicio?.Nombre</p>
    <p><strong>Usuario:</strong> @Model.Usuario?.Nombre</p>
    <p><strong>Fecha:</strong> @Model.FechaHora</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
